{"openapi":"3.0.3","info":{"title":"ItChat API","version":"0.0.0"},"tags":[{"name":"auth"},{"name":"bots"},{"name":"channels"},{"name":"groups"},{"name":"invites"},{"name":"members"},{"name":"messages"},{"name":"roles"},{"name":"servers"},{"name":"users"}],"servers":[{"url":"https://api.itchat.world"}],"paths":{"/auth/accounts/login":{"post":{"tags":["auth"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSessionOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Session"}}}}}}},"/auth/accounts/verify":{"get":{"tags":["auth"],"responses":{"200":{"description":"OK"}},"parameters":[{"name":"code","in":"query","schema":{"type":"string"}},{"name":"user_id","in":"query","schema":{"type":"integer","format":"uint64"}}]}},"/auth/accounts/register":{"post":{"tags":["auth"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterAccountOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterResponse"}}}}}}},"/auth/sessions":{"post":{"tags":["auth"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSessionOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/auth/sessions/{session_id}":{"get":{"tags":["auth"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Session"}}}}}},"delete":{"tags":["auth"],"responses":{"200":{"description":"OK"}}},"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/users":{"get":{"tags":["users"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}}}}},"/users/@me":{"get":{"tags":["users"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}}}},"/users/{user_id}":{"get":{"tags":["users"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}}},"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/users/{user_id}/dm":{"get":{"tags":["users"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Channel"}}}}}},"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/users/@me/relationships/{user_id}":{"put":{"tags":["users"],"responses":{"200":{"description":"OK"}}},"post":{"tags":["users"],"responses":{"200":{"description":"OK"}}},"delete":{"tags":["users"],"responses":{"200":{"description":"OK"}}},"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/channels":{"get":{"tags":["channels"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Channel"}}}}}}},"post":{"tags":["channels"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateGroupOptions"}}}},"responses":{"200":{"description":"Create a group channel","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Channel"}}}}}}},"/channels/{channel_id}":{"get":{"tags":["channels"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Channel"}}}}}},"delete":{"tags":["channels"],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["channels"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditGroupOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Channel"}}}}}},"parameters":[{"name":"channel_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/channels/{channel_id}/{user_id}":{"delete":{"tags":["channels"],"responses":{"200":{"description":"OK"}}},"parameters":[{"name":"channel_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}},{"name":"user_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/messages/{channel_id}":{"get":{"tags":["messages"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Message"}}}}}},"parameters":[{"name":"limit","in":"query","schema":{"nullable":true,"type":"integer"}}]},"post":{"tags":["messages"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMessageOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}}}},"parameters":[{"name":"channel_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/messages/{channel_id}/{message_id}":{"get":{"tags":["messages"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}}}},"delete":{"tags":["messages"],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["messages"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditMessageOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}}}},"parameters":[{"name":"channel_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}},{"name":"message_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/bots":{"get":{"tags":["bots"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Bot"}}}}}}},"post":{"tags":["bots"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Bot"}}}}}}},"/bots/{bot_id}":{"get":{"tags":["bots"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Bot"}}}}}},"delete":{"tags":["bots"],"responses":{"200":{"description":"OK"}}},"parameters":[{"name":"bot_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]}},"components":{"schemas":{"Attachment":{"type":"object","properties":{"content_type":{"type":"string"},"filename":{"type":"string"},"height":{"nullable":true,"type":"integer","format":"int32"},"id":{"$ref":"#/components/schemas/Snowflake"},"size":{"type":"integer","format":"int32"},"width":{"nullable":true,"type":"integer","format":"int32"}},"required":["id","filename","content_type","size"]},"Bot":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/Snowflake"},"owner_id":{"$ref":"#/components/schemas/Snowflake"},"username":{"type":"string"},"verified":{"type":"boolean"}},"required":["id","username","owner_id","verified"]},"Channel":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/Snowflake"},"name":{"nullable":true,"type":"string"},"owner_id":{"$ref":"#/components/schemas/Snowflake"},"permissions":{"description":"Permissions bits","nullable":true,"type":"string"},"recipients":{"nullable":true,"type":"array","items":{"$ref":"#/components/schemas/Snowflake"}},"type":{"$ref":"#/components/schemas/ChannelTypes"}},"required":["id","type"]},"ChannelTypes":{"oneOf":[{"description":"Unknown variant","type":"integer","example":"0"},{"description":"Direct variant","type":"integer","example":"1"},{"description":"Group variant","type":"integer","example":"2"}]},"CreateGroupOptions":{"type":"object","properties":{"name":{"type":"string"}},"required":["name"]},"CreateMessageOptions":{"type":"object","properties":{"attachments":{"nullable":true,"type":"array","items":{"$ref":"#/components/schemas/Attachment"}},"content":{"nullable":true,"type":"string"}},"required":["content","attachments"]},"CreateSessionOptions":{"type":"object","properties":{"email":{"type":"string"},"password":{"type":"string"}},"required":["password","email"]},"EditGroupOptions":{"type":"object","properties":{"name":{"nullable":true,"type":"string"}},"required":["name"]},"EditMessageOptions":{"type":"object","properties":{"content":{"type":"string"}},"required":["content"]},"Message":{"type":"object","properties":{"attachments":{"type":"array","items":{"$ref":"#/components/schemas/Attachment"}},"author_id":{"$ref":"#/components/schemas/Snowflake"},"channel_id":{"$ref":"#/components/schemas/Snowflake"},"content":{"nullable":true,"type":"string"},"edited_at":{"description":"Datetime without timezone","nullable":true,"type":"string","format":"date","example":"2020-06-26T14:04:20.730045106"},"id":{"$ref":"#/components/schemas/Snowflake"}},"required":["id","content","attachments","channel_id","author_id","edited_at"]},"Presence":{"type":"object","properties":{"status":{"$ref":"#/components/schemas/PresenceStatus"},"text":{"nullable":true,"type":"string"}},"required":["status","text"]},"PresenceStatus":{"oneOf":[{"description":"Offline variant","type":"integer","example":"0"},{"description":"Online variant","type":"integer","example":"1"},{"description":"Idle variant","type":"integer","example":"2"},{"description":"Dnd variant","type":"integer","example":"3"}]},"RegisterAccountOptions":{"type":"object","properties":{"email":{"type":"string"},"invite_code":{"nullable":true,"type":"string"},"password":{"type":"string"},"username":{"type":"string"}},"required":["username","password","email","invite_code"]},"RegisterResponse":{"type":"object","properties":{"pending_verification":{"type":"boolean"}},"required":["pending_verification"]},"RelationshipStatus":{"oneOf":[{"description":"Friend variant","type":"integer","example":"0"},{"description":"Incoming variant","type":"integer","example":"1"},{"description":"Outgoing variant","type":"integer","example":"2"},{"description":"Blocked variant","type":"integer","example":"3"},{"description":"BlockedByOther variant","type":"integer","example":"4"}]},"Session":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/Snowflake"}},"required":["id"]},"Snowflake":{"type":"string"},"User":{"type":"object","properties":{"avatar":{"nullable":true,"type":"string"},"badges":{"description":"Badges bits","type":"string"},"email":{"type":"string"},"id":{"$ref":"#/components/schemas/Snowflake"},"password":{"type":"string"},"presence":{"$ref":"#/components/schemas/Presence"},"relations":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/RelationshipStatus"}},"relationship":{"$ref":"#/components/schemas/RelationshipStatus"},"username":{"type":"string"},"verified":{"type":"boolean"}},"required":["id","username","avatar","badges","presence","relationship"]}}}}
