{"openapi":"3.0.3","info":{"title":"ItChat API","version":"0.0.0"},"tags":[{"name":"auth"},{"name":"bots"},{"name":"channels"},{"name":"groups"},{"name":"invites"},{"name":"members"},{"name":"messages"},{"name":"roles"},{"name":"servers"},{"name":"users"}],"servers":[{"url":"https://api.itchat.world"}],"paths":{"/auth/accounts/login":{"post":{"tags":["auth"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSessionOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Session"}}}}}}},"/auth/accounts/verify":{"get":{"tags":["auth"],"responses":{"200":{"description":"OK"}},"parameters":[{"name":"code","in":"query","schema":{"type":"string"}},{"name":"user_id","in":"query","schema":{"type":"integer","format":"uint64"}}]}},"/auth/accounts/register":{"post":{"tags":["auth"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterAccountOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterResponse"}}}}}}},"/auth/sessions":{"post":{"tags":["auth"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSessionOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/auth/sessions/{session_id}":{"get":{"tags":["auth"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Session"}}}}}},"delete":{"tags":["auth"],"responses":{"200":{"description":"OK"}}},"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/users":{"get":{"tags":["users"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}}}}},"/users/@me":{"get":{"tags":["users"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}}}},"/users/{user_id}":{"get":{"tags":["users"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}}},"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/users/{user_id}/dm":{"get":{"tags":["users"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Channel"}}}}}},"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/users/@me/relationships/{user_id}":{"put":{"tags":["users"],"responses":{"200":{"description":"OK"}}},"post":{"tags":["users"],"responses":{"200":{"description":"OK"}}},"delete":{"tags":["users"],"responses":{"200":{"description":"OK"}}},"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/channels":{"get":{"tags":["channels"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Channel"}}}}}}},"post":{"tags":["channels"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateGroupOptions"}}}},"responses":{"200":{"description":"Create a group channel","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Channel"}}}}}}},"/channels/{channel_id}":{"get":{"tags":["channels"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Channel"}}}}}},"delete":{"tags":["channels"],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["channels"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditGroupOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Channel"}}}}}},"parameters":[{"name":"channel_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/channels/{channel_id}/{user_id}":{"delete":{"tags":["channels"],"responses":{"200":{"description":"OK"}}},"parameters":[{"name":"channel_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}},{"name":"user_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/channels/{channel_id}/messages":{"post":{"tags":["messages"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMessageOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}}}},"parameters":[{"name":"channel_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/channels/{channel_id}/messages/{message_id}":{"get":{"tags":["messages"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}}}},"delete":{"tags":["messages"],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["messages"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditMessageOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}}}},"parameters":[{"name":"channel_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}},{"name":"message_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/bots":{"get":{"tags":["bots"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Bot"}}}}}}},"post":{"tags":["bots"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Bot"}}}}}}},"/bots/{bot_id}":{"get":{"tags":["bots"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Bot"}}}}}},"delete":{"tags":["bots"],"responses":{"200":{"description":"OK"}}},"parameters":[{"name":"bot_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/invites":{"post":{"tags":["invites"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateInviteOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Invite"}}}}}}},"/invites/{code}":{"get":{"tags":["invites"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Invite"}}}}}},"post":{"tags":["invites"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Invite"}}}}}},"parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}}]},"/servers":{"get":{"tags":["servers"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Server"}}}}}}},"post":{"tags":["servers"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateServerOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Server"}}}}}}},"/servers/{server_id}":{"get":{"tags":["servers"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Server"}}}}}},"delete":{"tags":["servers"],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["servers"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditServerOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Server"}}}}}},"parameters":[{"name":"server_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/servers/{server_id}/members":{"get":{"tags":["members"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Member"}}}}}}},"delete":{"tags":["members"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Member"}}}}}},"parameters":[{"name":"server_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/servers/{server_id}/members/{user_id}":{"get":{"tags":["members"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Member"}}}}}},"patch":{"tags":["members"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditMemberOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Member"}}}}}},"parameters":[{"name":"server_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}},{"name":"user_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/servers/{server_id}/roles":{"get":{"tags":["roles"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Role"}}}}}}},"post":{"tags":["roles"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRoleOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Role"}}}}}},"parameters":[{"name":"server_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/servers/{server_id}/roles/{role_id}":{"get":{"tags":["roles"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Role"}}}}}},"delete":{"tags":["roles"],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["roles"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Role"}}}}}},"parameters":[{"name":"role_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}},{"name":"server_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/servers/{server_id}/invites":{"get":{"tags":["invites"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Invite"}}}}}}},"parameters":[{"name":"server_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/servers/{server_id}/invites/{invite_id}":{"get":{"tags":["invites"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Invite"}}}}}},"delete":{"tags":["invites"],"responses":{"200":{"description":"OK"}}},"parameters":[{"name":"invite_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}},{"name":"server_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/servers/{server_id}/channels":{"get":{"tags":["channels"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Channel"}}}}}}},"post":{"tags":["channels"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateServerChannelOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Channel"}}}}}},"parameters":[{"name":"server_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/servers/{server_id}/channels/{channel_id}":{"get":{"tags":["channels"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Channel"}}}}}},"delete":{"tags":["channels"],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["channels"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditServerChannelOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Channel"}}}}}},"parameters":[{"name":"channel_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}},{"name":"server_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]}},"components":{"schemas":{"Attachment":{"type":"object","properties":{"content_type":{"type":"string"},"filename":{"type":"string"},"height":{"nullable":true,"type":"integer","format":"int32"},"id":{"type":"string"},"size":{"type":"integer","format":"int32"},"width":{"nullable":true,"type":"integer","format":"int32"}},"required":["id","filename","content_type","size"]},"Bot":{"type":"object","properties":{"id":{"type":"string"},"owner_id":{"type":"string"},"username":{"type":"string"},"verified":{"type":"boolean"}},"required":["id","username","owner_id","verified"]},"Channel":{"type":"object","properties":{"id":{"type":"string"},"name":{"nullable":true,"type":"string"},"overwrites":{"$ref":"#/components/schemas/ChannelOverwrites"},"owner_id":{"nullable":true,"type":"string"},"parent_id":{"nullable":true,"type":"string"},"permissions":{"description":"Permissions bits","nullable":true,"type":"string"},"recipients":{"$ref":"#/components/schemas/ChannelRecipients"},"server_id":{"nullable":true,"type":"string"},"topic":{"nullable":true,"type":"string"},"type":{"$ref":"#/components/schemas/ChannelTypes"}},"required":["id","type"]},"ChannelOverwrites":{"nullable":true,"type":"array","items":{"$ref":"#/components/schemas/Overwrite"}},"ChannelRecipients":{"nullable":true,"type":"array","items":{"type":"string"}},"ChannelTypes":{"oneOf":[{"description":"Unknown variant","type":"integer","example":"0"},{"description":"Direct variant","type":"integer","example":"1"},{"description":"Group variant","type":"integer","example":"2"},{"description":"Category variant","type":"integer","example":"3"},{"description":"Text variant","type":"integer","example":"4"},{"description":"Voice variant","type":"integer","example":"5"}]},"CreateGroupOptions":{"type":"object","properties":{"name":{"type":"string"}},"required":["name"]},"CreateInviteOptions":{"type":"object","properties":{"channel_id":{"type":"integer","format":"uint64"}},"required":["channel_id"]},"CreateMessageOptions":{"type":"object","properties":{"attachments":{"nullable":true,"type":"array","items":{"$ref":"#/components/schemas/Attachment"}},"content":{"nullable":true,"type":"string"}},"required":["content","attachments"]},"CreateRoleOptions":{"type":"object","properties":{"color":{"type":"integer","format":"int32"},"hoist":{"type":"boolean"},"name":{"type":"string"},"permissions":{"description":"Permissions bits","type":"string"}},"required":["name","color","permissions","hoist"]},"CreateServerChannelOptions":{"type":"object","properties":{"name":{"type":"string"},"type":{"$ref":"#/components/schemas/ChannelTypes"}},"required":["type","name"]},"CreateServerOptions":{"type":"object","properties":{"name":{"type":"string"}},"required":["name"]},"CreateSessionOptions":{"type":"object","properties":{"email":{"type":"string"},"password":{"type":"string"}},"required":["password","email"]},"EditGroupOptions":{"type":"object","properties":{"name":{"nullable":true,"type":"string"}},"required":["name"]},"EditMemberOptions":{"type":"object","properties":{"nickname":{"nullable":true,"type":"string"},"roles":{"nullable":true,"type":"array","items":{"type":"integer","format":"int64"}}},"required":["nickname","roles"]},"EditMessageOptions":{"type":"object","properties":{"content":{"type":"string"}},"required":["content"]},"EditServerChannelOptions":{"type":"object","properties":{"name":{"nullable":true,"type":"string"}},"required":["name"]},"EditServerOptions":{"type":"object","properties":{"name":{"nullable":true,"type":"string"}},"required":["name"]},"Invite":{"type":"object","properties":{"channel_id":{"type":"string"},"code":{"type":"string"},"id":{"type":"string"},"inviter_id":{"type":"string"},"server_id":{"nullable":true,"type":"string"},"uses":{"type":"integer","format":"int32"}},"required":["id","code","uses","inviter_id","channel_id","server_id"]},"Member":{"type":"object","properties":{"id":{"type":"string"},"joined_at":{"type":"string"},"nickname":{"nullable":true,"type":"string"},"roles":{"$ref":"#/components/schemas/MemberRoles"},"server_id":{"type":"string"}},"required":["id","nickname","joined_at","server_id","roles"]},"MemberRoles":{"type":"array","items":{"type":"string"}},"Message":{"type":"object","properties":{"attachments":{"$ref":"#/components/schemas/MessageAttachments"},"author_id":{"type":"string"},"channel_id":{"type":"string"},"content":{"nullable":true,"type":"string"},"edited_at":{"nullable":true,"type":"string"},"id":{"type":"string"}},"required":["id","content","attachments","channel_id","author_id","edited_at"]},"MessageAttachments":{"type":"array","items":{"$ref":"#/components/schemas/Attachment"}},"Overwrite":{"type":"object","properties":{"allow":{"description":"Permissions bits","type":"string"},"deny":{"description":"Permissions bits","type":"string"},"id":{"type":"string"},"type":{"$ref":"#/components/schemas/OverwriteTypes"}},"required":["id","type","allow","deny"]},"OverwriteTypes":{"oneOf":[{"description":"Role variant","type":"integer","example":"0"},{"description":"Member variant","type":"integer","example":"1"}]},"RegisterAccountOptions":{"type":"object","properties":{"email":{"type":"string"},"invite_code":{"nullable":true,"type":"string"},"password":{"type":"string"},"username":{"type":"string"}},"required":["username","password","email","invite_code"]},"RegisterResponse":{"type":"object","properties":{"pending_verification":{"type":"boolean"}},"required":["pending_verification"]},"RelationshipStatus":{"oneOf":[{"description":"Friend variant","type":"integer","example":"0"},{"description":"Incoming variant","type":"integer","example":"1"},{"description":"Outgoing variant","type":"integer","example":"2"},{"description":"Blocked variant","type":"integer","example":"3"},{"description":"BlockedByOther variant","type":"integer","example":"4"}]},"Role":{"type":"object","properties":{"color":{"type":"integer","format":"int32"},"hoist":{"type":"boolean"},"id":{"type":"string"},"name":{"type":"string"},"permissions":{"description":"Permissions bits","type":"string"},"server_id":{"type":"string"}},"required":["id","name","permissions","color","hoist","server_id"]},"Server":{"type":"object","properties":{"banner":{"nullable":true,"type":"string"},"description":{"nullable":true,"type":"string"},"icon":{"nullable":true,"type":"string"},"id":{"type":"string"},"name":{"type":"string"},"owner_id":{"type":"string"},"permissions":{"description":"Permissions bits","type":"string"}},"required":["id","name","description","icon","banner","owner_id","permissions"]},"Session":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]},"User":{"type":"object","properties":{"avatar":{"nullable":true,"type":"string"},"badges":{"description":"Badges bits","type":"string"},"id":{"type":"string"},"relationship":{"$ref":"#/components/schemas/RelationshipStatus"},"username":{"type":"string"}},"required":["id","username","avatar","badges","relationship"]}}}}
