{"openapi":"3.0.3","info":{"title":"ItChat API","version":"0.0.0"},"tags":[{"name":"auth"},{"name":"bots"},{"name":"channels"},{"name":"groups"},{"name":"invites"},{"name":"members"},{"name":"messages"},{"name":"roles"},{"name":"servers"},{"name":"users"}],"servers":[{"url":"https://api.itchat.world"}],"paths":{"/auth/accounts/login":{"post":{"tags":["auth"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSessionOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Session"}}}}}}},"/auth/accounts/verify/{user_id}/{code}":{"get":{"tags":["auth"],"responses":{"200":{"description":"OK"}}},"parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}},{"name":"user_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/auth/accounts/register":{"post":{"tags":["auth"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterAccountOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}}}},"/auth/sessions":{"post":{"tags":["auth"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSessionOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Session"}}}}}}},"/auth/sessions/{session_id}":{"get":{"tags":["auth"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Session"}}}}}},"delete":{"tags":["auth"],"responses":{"200":{"description":"OK"}}},"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/users/@me":{"get":{"tags":["users"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}}}},"/users/{user_id}":{"get":{"tags":["users"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}}},"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/channels":{"get":{"tags":["channels"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Channel"}}}}}}},"post":{"tags":["channels"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateGroupOptions"}}}},"responses":{"200":{"description":"Create a group channel","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Channel"}}}}}}},"/channels/{channel_id}":{"get":{"tags":["channels"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Channel"}}}}}},"delete":{"tags":["channels"],"responses":{"200":{"description":"OK"}}},"parameters":[{"name":"channel_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/channels/{channel_id}/{user_id}":{"delete":{"tags":["channels"],"responses":{"200":{"description":"OK"}}},"parameters":[{"name":"channel_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}},{"name":"user_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/channels/{channel_id}/messages":{"post":{"tags":["messages"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMessageOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}}}},"parameters":[{"name":"channel_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/channels/{channel_id}/messages/{message_id}":{"get":{"tags":["messages"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}}}},"delete":{"tags":["messages"],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["messages"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditMessageOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}}}},"parameters":[{"name":"channel_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}},{"name":"message_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/bots":{"get":{"tags":["bots"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Bot"}}}}}}},"post":{"tags":["bots"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Bot"}}}}}}},"/bots/{bot_id}":{"get":{"tags":["bots"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Bot"}}}}}},"delete":{"tags":["bots"],"responses":{"200":{"description":"OK"}}},"parameters":[{"name":"bot_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/invites":{"post":{"tags":["invites"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateInviteOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Invite"}}}}}}},"/invites/{code}":{"get":{"tags":["invites"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Invite"}}}}}},"post":{"tags":["invites"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Invite"}}}}}},"parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}}]},"/servers":{"get":{"tags":["servers"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Server"}}}}}}},"post":{"tags":["servers"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateServerOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Server"}}}}}}},"/servers/{server_id}":{"get":{"tags":["servers"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Server"}}}}}},"delete":{"tags":["servers"],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["servers"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditServerOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Server"}}}}}},"parameters":[{"name":"server_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/servers/{server_id}/members":{"get":{"tags":["members"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Member"}}}}}}},"delete":{"tags":["members"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Member"}}}}}},"parameters":[{"name":"server_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/servers/{server_id}/members/{user_id}":{"get":{"tags":["members"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Member"}}}}}},"patch":{"tags":["members"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditMemberOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Member"}}}}}},"parameters":[{"name":"server_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}},{"name":"user_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/servers/{server_id}/roles":{"get":{"tags":["roles"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Role"}}}}}}},"post":{"tags":["roles"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRoleOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Role"}}}}}},"parameters":[{"name":"server_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/servers/{server_id}/roles/{role_id}":{"get":{"tags":["roles"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Role"}}}}}},"delete":{"tags":["roles"],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["roles"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Role"}}}}}},"parameters":[{"name":"role_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}},{"name":"server_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/servers/{server_id}/invites":{"get":{"tags":["invites"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Invite"}}}}}}},"parameters":[{"name":"server_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/servers/{server_id}/invites/{invite_id}":{"get":{"tags":["invites"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Invite"}}}}}},"delete":{"tags":["invites"],"responses":{"200":{"description":"OK"}}},"parameters":[{"name":"invite_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}},{"name":"server_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/servers/{server_id}/channels":{"get":{"tags":["channels"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Channel"}}}}}}},"post":{"tags":["channels"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateServerChannelOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Channel"}}}}}},"parameters":[{"name":"server_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]},"/servers/{server_id}/channels/{channel_id}":{"get":{"tags":["channels"],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Channel"}}}}}},"delete":{"tags":["channels"],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["channels"],"requestBody":{"required":true,"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditServerChannelOptions"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Channel"}}}}}},"parameters":[{"name":"channel_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}},{"name":"server_id","in":"path","required":true,"schema":{"type":"integer","format":"uint64"}}]}},"components":{"schemas":{"Bot":{"type":"object","properties":{"id":{"type":"integer","format":"uint64"},"owner_id":{"type":"integer","format":"uint64"},"username":{"type":"string"},"verified":{"type":"boolean"}},"required":["id","username","owner_id","verified"]},"Channel":{"type":"object","properties":{"id":{"type":"integer","format":"uint64"},"name":{"nullable":true,"type":"string"},"overwrites":{"nullable":true,"type":"array","items":{"$ref":"#/components/schemas/Overwrite"}},"owner_id":{"nullable":true,"type":"integer","format":"uint64"},"parent_id":{"nullable":true,"type":"integer","format":"uint64"},"permissions":{"description":"Permissions bits","nullable":true,"type":"number"},"recipients":{"nullable":true,"type":"array","items":{"type":"integer","format":"uint64"}},"server_id":{"nullable":true,"type":"integer","format":"uint64"},"topic":{"nullable":true,"type":"string"},"type":{"$ref":"#/components/schemas/ChannelTypes"}},"required":["id","type"]},"ChannelTypes":{"type":"string","enum":["Direct","Group","Text","Voice","Category","Unknown"],"example":"Direct"},"CreateGroupOptions":{"type":"object","properties":{"name":{"type":"string"}},"required":["name"]},"CreateInviteOptions":{"type":"object","properties":{"channel_id":{"type":"integer","format":"uint64"}},"required":["channel_id"]},"CreateMessageOptions":{"type":"object","properties":{"content":{"type":"string"}},"required":["content"]},"CreateRoleOptions":{"type":"object","properties":{"color":{"type":"integer","format":"uint8"},"hoist":{"type":"boolean"},"name":{"type":"string"},"permissions":{"description":"Permissions bits","type":"number"}},"required":["name","color","permissions","hoist"]},"CreateServerChannelOptions":{"type":"object","properties":{"name":{"type":"string"},"type":{"$ref":"#/components/schemas/ChannelTypes"}},"required":["type","name"]},"CreateServerOptions":{"type":"object","properties":{"name":{"type":"string"}},"required":["name"]},"CreateSessionOptions":{"type":"object","properties":{"email":{"type":"string"},"password":{"type":"string"}},"required":["password","email"]},"EditMemberOptions":{"type":"object","properties":{"nickname":{"nullable":true,"type":"string"},"roles":{"nullable":true,"type":"array","items":{"type":"integer","format":"uint64"}}},"required":["nickname","roles"]},"EditMessageOptions":{"type":"object","properties":{"content":{"type":"string"}},"required":["content"]},"EditServerChannelOptions":{"type":"object","properties":{"name":{"nullable":true,"type":"string"}},"required":["name"]},"EditServerOptions":{"type":"object","properties":{"name":{"nullable":true,"type":"string"}},"required":["name"]},"Invite":{"type":"object","properties":{"channel_id":{"type":"integer","format":"uint64"},"code":{"type":"string"},"id":{"type":"integer","format":"uint64"},"inviter_id":{"type":"integer","format":"uint64"},"server_id":{"nullable":true,"type":"integer","format":"uint64"},"uses":{"type":"integer","format":"uint64"}},"required":["id","code","uses","inviter_id","channel_id"]},"Member":{"type":"object","properties":{"id":{"type":"integer","format":"uint64"},"joined_at":{"type":"integer","format":"uint64"},"nickname":{"nullable":true,"type":"string"},"roles":{"type":"array","items":{"type":"integer","format":"uint64"}},"server_id":{"type":"integer","format":"uint64"}},"required":["id","joined_at","server_id","roles"]},"Message":{"type":"object","properties":{"author_id":{"type":"integer","format":"uint64"},"channel_id":{"type":"integer","format":"uint64"},"content":{"nullable":true,"type":"string"},"edited_at":{"nullable":true,"type":"integer","format":"uint64"},"id":{"type":"integer","format":"uint64"}},"required":["id","channel_id","author_id"]},"Overwrite":{"type":"object","properties":{"allow":{"description":"Permissions bits","type":"number"},"deny":{"description":"Permissions bits","type":"number"},"id":{"type":"integer","format":"uint64"},"type":{"$ref":"#/components/schemas/OverwriteTypes"}},"required":["id","type","allow","deny"]},"OverwriteTypes":{"type":"string","enum":["Role","Member"],"example":"Role"},"RegisterAccountOptions":{"type":"object","properties":{"email":{"type":"string"},"invite_code":{"nullable":true,"type":"string"},"password":{"type":"string"},"username":{"type":"string"}},"required":["username","password","email","invite_code"]},"Role":{"type":"object","properties":{"color":{"type":"integer","format":"uint8"},"hoist":{"type":"boolean"},"id":{"type":"integer","format":"uint64"},"name":{"type":"string"},"permissions":{"description":"Permissions bits","type":"number"},"server_id":{"type":"integer","format":"uint64"}},"required":["id","name","permissions","color","hoist","server_id"]},"Server":{"type":"object","properties":{"banner":{"nullable":true,"type":"string"},"description":{"nullable":true,"type":"string"},"icon":{"nullable":true,"type":"string"},"id":{"type":"integer","format":"uint64"},"name":{"type":"string"},"owner_id":{"type":"integer","format":"uint64"},"permissions":{"description":"Permissions bits","type":"number"}},"required":["id","name","owner_id","permissions"]},"Session":{"type":"object","properties":{"id":{"type":"integer","format":"uint64"},"token":{"type":"string"},"user_id":{"type":"integer","format":"uint64"}},"required":["id","token","user_id"]},"User":{"type":"object","properties":{"avatar":{"nullable":true,"type":"string"},"badges":{"description":"Badges bits","type":"number"},"email":{"type":"string"},"id":{"type":"integer","format":"uint64"},"password":{"type":"string"},"username":{"type":"string"},"verified":{"type":"boolean"}},"required":["id","username","password","email","badges","verified"]}}}}
